:root {
    --cor-primaria: #0d6efd; 
    --cor-destaque: #ffc107; 
    --cor-fundo-claro: #f8f9fa;
    --cor-texto: #333;
}

body {
    font-family: 'Open Sans', sans-serif; 
    color: var(--cor-texto);
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif; 
    font-weight: 700;
    margin-bottom: 1rem;
}


.navbar-brand {
    font-weight: 700;
    letter-spacing: 1px;
}


.nav-link {
    transition: color 0.3s ease; 
}


.nav-link:hover {
    color: var(--cor-destaque) !important; /* Destaque ao passar o mouse */
}


.nav-link.active {
    border-bottom: 2px solid var(--cor-destaque);
}


.btn-primary {
    background-color: var(--cor-primaria);
    border: none;
    padding: 10px 25px;
    font-weight: 600;
    transition: transform 0.2s;
}


.btn-primary:hover {
    transform: translateY(-3px); 
    background-color: #0b5ed7; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


ul.lista-beneficios li {
    padding: 10px;
    list-style-type: none; 
    border-left: 4px solid var(--cor-primaria);
    margin-bottom: 5px;
}


ul.lista-beneficios li:nth-child(odd) {
    background-color: #e9ecef; 
}


ul.lista-beneficios li:nth-child(even) {
    background-color: #ffffff; 
}


.form-control:focus, 

.form-select:focus {
    border-color: var(--cor-primaria);
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    background-color: #fff;
}

textarea {
    resize: none; 
}

footer {
    margin-top: auto; 
    padding: 20px 0;
}